.binding-preview {
  background-color: var(--bg-primary);
  border-color: var(--border-color) !important;
  min-height: 110px;
}

.code-box {
  background-color: #0d1117;
  color: #e6edf3;
  border: 1px solid var(--border-color);
}
